<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title> Site With a Login </title>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <nav>
      <a href="/logout">Logout</a>
    </nav>
      <h1> Please Login Below</h1>
    <div class = 'container'>
      {{{yield}}}
    <div>
  </body>
</html>
