<link rel='stylesheet' href='style.css'>
<center>
<form action='results' method="post">
<p>  <input type="text" name="username" placeholder="username"></p>
<p>  <input type="password" name="password" placeholder="password"></p>
<p>  <button type="submit">Login</button></p>
</form>
</center>
