body {
background-color: rgb(240, 79, 143);
color: white;
background:radial-gradient(rgb(162, 204, 255),rgb(240, 79, 143),rgb(224, 150, 246)); /* For Safari 5.1 to 6.0 */
  }
nav a {
  text-decoration: none;
  color: white;
  float: right;
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;

}
form p {
  display: block;
  display: flex;
justify-content: center;
margin: 40px;
}
form {
  padding: 200px;
}

#userresults {
  font-size: 40px;
  font-family: serif;
}
button {
  background-color: white;
  border: 6px solid rgb(241, 151, 246);
  border-radius: 15px;
  width: 100px;
  height: 70px;
  padding: 15px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(241, 151, 246);
}
button:hover{
  background-color: rgb(241, 151, 246);
  color: white;
}
input {
  padding: 20px;
  color: lightblue;
  font-size: 20px;
  font-family: serif;
  border-radius: 10px;
}
input:hover {
  color: rgb(241, 151, 246);

  background-color: black;
}
a {
  border:  5px solid lightblue;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  font-size: 20px;
  font-family: serif;
  color: lightblue;
  text-decoration: none;
}
a:hover {
  background-color:rgb(241, 151, 246);
  color: white;
  border: 5px solid white;
}
h1 {
  font-size: 40px;
  color: white;
}
